<div class="row">
  <h7>&nbsp</h7>
</div>
<div class="container">
  <fullbody class="span11 fivethirtyhigh">
    <% if signed_in? && current_ward.nil? && !current_user.master? %>
      <h1 style="margin-bottom:20px;">Request Access to a Ward</h1>
      <div class="row">
        <div class="span11">
          <strong>
            <div class="span3">Ward Name</div>
            <div class="span2">Admin Name</div>
            <div class="span4">Admin Email</div>
            <div class="span1"><center>Access?</center></div>
          </strong>
        </div>
      </div>
      <div class="row">
        <div class="span11">
          <ul class="users" style="height:400px;">
            <%= render @wards %>
          </ul>
          <div class="span1">
            <%= link_to "<i class='icon-white icon-plus'></i>".html_safe, leaders_path, class: "btn btn-medium btn-primary" %>
          </div>
          <div class="span1">
            &nbsp
          </div>
          <div class="span8 pull-right" style="text-align:right;">
            <%= will_paginate @wards, :inner_window => 2, :outer_window => 1, style: "margin: 0 15px 0 0;" %>
          </div>
        </div>
      </div>
    <% else %>
	    <h1 style="margin:130px 50px 65px 50px;">LDS Area Book</h1>
	    <center>
  	    <%= link_to "Sign In", signin_path, class: "btn btn-large btn-primary" %>
  	    <h3 style="margin-top:60px;">or <%= link_to "learn more", help_path %></h3>
 	    </center>
    <% end %>
  </fullbody>
</div>