<div class="container" style="margin-left:5px; margin-top:20px;">
<!-- since the user is signed in but not been given access to a ward, set it up to request ward access -->
<% if signed_in? && current_ward.nil? %>
  <div class="row">
<% end %>
  <fullbody class="span11" style="position:relative; z-index:2; height:520px;">
    <!-- the user is signed in but has not verified their email address so give them a resend verification button -->
    <% if signed_in? && !current_user.email_confirmed? %>
      <h1 style="margin:130px 50px 50px 50px;">Verify Your Email Address</h1>
      <center>
        <h4>In order to view any section of the area book, you need to verify your email address.</h4>
        <h4>An email was sent to your account. Please follow the link in order to verify your account.</h4>
        <h4 style="margin-bottom:40px;">Resend a verification email or go to your account settings to change your email.</h4>
        <%= link_to "Resend Verification", verify_user_path(:id => current_user.id, :resend => true), :class => "btn btn-primary" %>
      </center>
    <!-- the user is signed in but has not been given access to any ward area book -->
    <% elsif signed_in? && current_ward.nil? %>
      <h1 style="margin-bottom:20px;">Request Access to a Ward</h1>
      <div class="row">
        <div class="span11">
          <!-- set up the header for the wards list -->
          <strong>
            <div class="span3">Ward Name</div>
            <div class="span4">Admin Name</div>
            <div class="span2">&nbsp</div>
            <div class="span1"><center>Access?</center></div>
          </strong>
        </div>
      </div>
      <div class="row">
        <div class="span11">
          <ul class="users" style="height:400px;">
            <!-- show all wards that the user can request access to -->
            <%= render @wards %>
          </ul>
          <!-- prepare a button to let the user create their own ward area book -->
          <div class="span1">
            <%= link_to "<i class='icon-white icon-plus'></i>".html_safe, new_ward_path, class: "btn btn-medium btn-primary" %>
          </div>
          <div class="span1">
            &nbsp
          </div>
          <!-- show pagination -->
          <div class="span8 pull-right" style="text-align:right;">
            <%= will_paginate @wards, :inner_window => 2, :outer_window => 1, style: "margin: 0 15px 0 0;" %>
          </div>
        </div>
      </div>
    <% else %>
      <!-- the user has not signed in yet -->
	    <h1 style="margin:130px 50px 65px 50px;">LDS Area Book</h1>
	    <center>
  	    <%= link_to "Sign In", signin_path, class: "btn btn-large btn-primary" %>
  	    <h3 style="margin-top:60px;">or <%= link_to "learn more", help_path %></h3>
 	    </center>
    <% end %>
  </fullbody>
  <!-- show alphabetical options for sorting if the user is signed in but has no assigned ward -->
  <% if signed_in? && current_ward.nil? %>
      <%= render 'layouts/alphabetically' %>
    </div>
  <% end %>
</div>