<% provide(:title, "Sign in") %>
<div class="row">
  <h7>&nbsp</h7>
</div>
<div class="container">
  <fullbody class="span11 fivethirtyhigh">
    <h1>Sign in</h1>
    <div class="row">
      <div class="span5 offset3">
        <%= form_for(:session, url: sessions_path) do |f| %>
          <%= f.label :email %>
          <%= f.text_field :email %>
          <%= f.label :password %>
          <%= f.password_field :password %>
          <%= f.submit "Sign in", class: "btn btn-medium btn-primary" %>
        <% end %>
        <p>Having trouble? <%= link_to "Request Access", help_path %></p>
      </div>
    </div>
  </fullbody>
</div>