<html>
  <head>
	<title>User Message from LDS Area Book</title>
  </head>
  <body>
	<center>
	<table style="width: 555px; margin: 10px auto; border: 1px black solid;">
	  <tr><td style="background: #dfdfdf; text-align: center;"><h2 style="margin: 8px auto 8px auto;">A User Has Sent You a Message</h2></td></tr>
	  <tr>
		<td style="text-align: left; padding: 5px 10px;">
		  <p>As an area book admin, users may send you messages with requests or questions about your area book.</p>
		  <p><strong>LDS Area Book</strong> received a message for you from <%= @user.email %>. <strong>DO NOT REPLY TO THIS MESSAGE</strong>, send any reply to the email address <%= @user.email %></p>
		  <p><center>The user <strong><%= @user.name %></strong> sent the following message to you:</p>
		  <p><%= @message %></p>
		  <p><strong>DO NOT REPLY TO THIS MESSAGE</strong>, send any reply to the email address <%= @user.email %></p>
		</td>
	  </tr>
	</table>
	</center>
  </body>
</html>