<tr>
  <!-- decrypt the sensitive information with the decryptor from this session -->
  <td style="width:250px;"><%= link_to @ward_decryptor.decrypt_and_verify(family.name), edit_family_path(family) %></td>
  <td style="width:250px;">
    <% if !family.phone.nil? && family.phone != "" %><%= @ward_decryptor.decrypt_and_verify(family.phone) %><% end %>
    <% if !family.email.nil? && family.email != "" %><br><%= @ward_decryptor.decrypt_and_verify(family.email) %><% end %>
  </td>
	<td style="width:250px;">
    <% if !family.address.nil? && family.address != "" %><%= @ward_decryptor.decrypt_and_verify(family.address) %><% end %>
  </td>
  <td style="width:250px;">
    <% if !family.children.nil? && family.children != "" %><%= @ward_decryptor.decrypt_and_verify(family.children) %><% end %>
  </td>
  <!-- find the most recent visit and show its date -->
  <td style="width:100px;">
  	<% @fam_visits = family.activities.where("visit = ?", true) %>
    <% if @fam_visits.count > 0 %>
  		<%= @fam_visits.first.activity_date.strftime("%m/%d/%y") %>
  	<% end %>
  </td>
  <!-- find the most recent contact and show its date -->
  <td style="width:100px;">
    <% @fam_contacts = family.activities.where("visit = ?", false) %>
  	<% if @fam_contacts.count > 0 %>
  	  <%= @fam_contacts.first.activity_date.strftime("%m/%d/%y") %>
  	<% end %>
  </td>
  <!-- find the most recent notes from this family -->
  <td style="width:500px;">
  	<% if family.activities.count > 0 %>
  	  <%= family.activities.first.notes %>
	  <% end %>
  </td>
</tr>