<% provide(:title, "Edit family") %> 
<%= render 'layouts/tabs' %>
<div class="container">
  <fullbody class="span11">
    <div class="offset3 span5">
      <center><h4>Edit Family</h4></center>
      <%= form_for(@family) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.label :name, "Family Name (e.g. Smith, Joe & Jane)" %>
        <%= f.text_field :name, :class => "span5" %>
        <%= f.label :phone, "Phone (e.g. 123-456-7890)" %>
        <%= f.text_field :phone, :class => "span2" %>
        <%= f.label :email %>
        <%= f.text_field :email, :class => "span5" %>
        <%= f.label :address, "Address (street only, e.g. 1234 Street St. #23)" %>
        <%= f.text_field :address, :class => "span5" %>
        <%= f.label :children, "Names of Children (if applicable)" %>
        <%= f.text_field :children, :class => "span5" %>
        <div class="row">
          <div class="span1">
            <%= f.label :investigator, "Investigator?" %>
          </div>
          <div class="span1">
            &nbsp&nbsp<%= f.check_box :investigator %>
          </div>
        </div>
        <h4>&nbsp</h4>
        <div class="row">
          <div class="span1">
            <%= f.submit "Save", class: "btn btn-medium btn-primary" %>
          </div>
          <div class="span2">
            <%= link_to "View Report", reports_path(:family_id => @family.id), class: "btn btn-medium btn-secondary" %>
          </div>
          <div class="span2">
            <%= link_to "Archive Family", archive_path(:archive_family => @family.id, :family_id => @family.id), class: "btn btn-medium btn-warning",
                        confirm: "Are you sure you want to archive this family and all of its activity records?", "data-confirm-fade" => true, 
                        "data-confirm-title" => "Archive #{@family.name}", "data-confirm-proceed" => "Archive", 
                        "data-confirm-proceed-class" => "btn-warning" %>
          </div>
        </div>
      <% end %>
    </div>
  </fullbody>
</div>
