<% provide(:title, 'Update Ward') %>
<%= render 'layouts/tabs' %>
<div class="container">
  <fullbody class="span11" style="min-height: 480px;">
    <% if @add_families || @remove_families || @update_families %>
      <%= render 'confirm_import' %>
    <% else %>
      <center><h3>Update Ward List</h3></center>
      <h4>&nbsp</h4>
      <div class="row offset2 span8">
        <div class="row">
          <div class="span1"><h4>Step 1:</h4></div>
          <div class="span6"><%= link_to "Download CSV", "https://lds.org/directory/services/ludrs/unit/member-list/#{current_ward.unit}/csv?includeOptedOut=true", class: "btn btn-medium btn-success" %></div>
        </div>
        <div class="row">
          <div class="span7"><h5>Download the latest ward list from <%= link_to "lds.org", "http://www.lds.org" %> by clicking the button above. You may be prompted to log in to your LDS account.</h5></div>
        </div>
        <div class="span7"><h4>&nbsp</h4></div>
        <%= form_tag import_families_path, multipart: true do %>
          <div class="row">
            <div class="span1"><h4>Step 2:</h4></div>
            <div class="span7"><%= file_field_tag :file, :accept => 'text/csv' %><p></div>
          </div>
          <div class="row">
            <div class="span7"><h5>Select the csv file you downloaded in step 1 and press the button below. You will be asked to confirm any changes to the ward list.</h5></div>
          </div>
          <h5>&nbsp</h5>
          <%= submit_tag "Import", class: "btn btn-medium btn-primary" %>
        <% end %>
      </div>
    <% end %>
  </fullbody>
</div>