<% provide(:title, 'Update Ward') %>
<div class="row">
  <div class="offset1 span9">
	  <ul class="nav nav-tabs">
  	  <li class="active"><%= link_to "Ward List", ward_path %></li>
  	  <li><%= link_to "Investigators", investigators_path %></li>
      <li><%= link_to "Watch List", watch_path %></li>
      <li><%= link_to "Find Report", reports_path %></li>
  	  <li><%= link_to "Report Activity", newactivity_path %></li>
  	  <li><%= link_to "Archive", archive_path %></li>
	  </ul>
  </div>
</div>
<div class="container">
  <fullbody class="span11" style="min-height: 480px;">
    <% if @add_families || @remove_families || @update_families %>
      <%= render 'confirm_import' %>
    <% else %>
      <center><h3>Update Ward List</h3></center>
      <h1>&nbsp</h1>
      <div class="offset2 span7">
        <h4>
          <%= link_to "Click here", "https://lds.org/directory/services/ludrs/unit/member-list/93157/csv?includeOptedOut=true" %> to download the latest ward list from <%= link_to "lds.org", "http://www.lds.org" %>, you may be prompted to log in to your LDS account. After the download is complete select the latest ward list csv file below.<p>
          You will be prompted before any changes are made.
        </h4>
      </div>
      <div class="span10">
        <h3>&nbsp</h3>
      </div>
      <div class="offset3 span6">
        <%= form_tag import_families_path, multipart: true do %>
          <%= label_tag "Select the ward CSV file" %>
          <%= file_field_tag :file, :accept => 'text/csv' %>
          <%= submit_tag "Import List", class: "btn btn-medium btn-primary" %>
        <% end %>
      </div>
    <% end %>
  </fullbody>
</div>