<% provide(:title, 'Update Ward') %>
<div class="row">
  <div class="offset1 span9">
	  <ul class="nav nav-tabs">
  	  <li class="active"><%= link_to "Ward List", wardlist_path %></li>
  	  <li><%= link_to "Investigators", investigators_path %></li>
      <li><%= link_to "Watch List", watch_path %></li>
      <li><%= link_to "Find Report", reports_path %></li>
  	  <li><%= link_to "Report Activity", newactivity_path %></li>
  	  <li><%= link_to "Archive", archive_path %></li>
	  </ul>
  </div>
</div>
<div class="container">
  <fullbody class="span11" style="min-height: 480px;">
    <% if @add_families || @remove_families || @update_families %>
      <%= render 'confirm_import' %>
    <% else %>
      <center><h3>Update Ward List</h3></center>
      <h2>&nbsp</h2>
      <div class="offset2 span7">
        <div class="span1">
          <h4>Step 1:</h4>
        </div>
        <div class="span5">
          <%= link_to "Download CSV", "https://lds.org/directory/services/ludrs/unit/member-list/#{current_ward.unit}/csv?includeOptedOut=true",
                              class: "btn btn-medium btn-success" %>
        </div>
        <div class="span6">
          <h5>
            Download the latest ward list from <%= link_to "lds.org", "http://www.lds.org" %> by clicking the button above. You may be prompted to log in to your LDS account.
          </h5>
        </div>
      </div>
      <div class="span6"><h4>&nbsp</h4></div>
      <div class="offset2 span7">
        <div class="span1">
          <h4>Step 2:</h4>
        </div>
        <%= form_tag import_families_path, multipart: true do %>
          <div class="span4">
            <%= file_field_tag :file, :accept => 'text/csv' %><p>
          </div>
          <div class="span6">
            <h5>Select the csv file you downloaded in step 1 and press the button below. You will be asked to confirm any changes to the ward list.</h5>
            <h5>&nbsp</h5>
            <%= submit_tag "Import", class: "btn btn-medium btn-primary" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </fullbody>
</div>