<% provide(:title, 'Update Ward') %>
<%= render 'layouts/tabs' %>
<div class="container" style="margin-left:5px;">
  <fullbody class="span11" style="min-height:480px;">
    <!-- if a file has already been imported, display the imported families for adding, archiving, and updating -->
    <% if @add_families || @remove_families || @update_families %>
      <%= render 'confirm_import' %>
    <!-- allow the user to select a csv file for uploading -->
    <% else %>
      <center><h3>Update Ward List</h3></center>
      <div class="row offset2 span8">
        <div class="row">
          <div class="span1"><h4>Step 1:</h4></div>
        </div>
        <div class="row" style="margin-bottom:30px;">
          <div class="span7"><h5>Prepare a CSV file with the most recent family information. Make sure that the file has headers with the following title in the first column: Family Name. The file should also include headers with the following titles: Couple Name, Family Address, Family Phone, Family Email. Additionally, the twelfth column should contain the names of any children.</h5></div>
        </div>
        <%= form_tag import_families_path, multipart: true do %>
          <div class="row">
            <div class="span1"><h4>Step 2:</h4></div>
            <div class="span7"><%= file_field_tag :file, :accept => 'text/csv' %><p></div>
          </div>
          <div class="row" style="margin-bottom:30px;">
            <div class="span7"><h5>Select the csv file you prepared in step 1 and press the button below. You will be asked to confirm any changes to the ward list.</h5></div>
          </div>
          <%= submit_tag "Import", class: "btn btn-medium btn-primary" %>
        <% end %>
      </div>
    <% end %>
  </fullbody>
</div>