<% provide(:title, 'Add Family') %>
<%= render 'layouts/tabs' %>
<div class="container">
  <fullbody class="span11" style="min-height:480px;">
    <div class="offset3 span5">
      <center><h4>Add Family</h4></center>
      <!-- set up a form for the new family -->
      <%= form_for(@family) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.label :name, "Family Name (e.g. Smith, Joe & Jane)" %>
        <%= f.text_field :name, :class => "span5" %>
        <%= f.label :phone, "Phone (e.g. 123-456-7890)" %>
        <%= f.text_field :phone, :class => "span2" %>
        <%= f.label :email %>
        <%= f.text_field :email, :class => "span5" %>
        <%= f.label :address, "Address (street only, e.g. 1234 Street St. #23)" %>
        <%= f.text_field :address, :class => "span5" %>
        <%= f.label :children, "Names of Children (if applicable)" %>
        <%= f.text_field :children, :class => "span5" %>
        <div class="row" style="margin-bottom:30px;">
          <div class="span1">
            <%= f.label :investigator, "Investigator?" %>
          </div>
          <div class="span1">
            <%= f.check_box :investigator, :style => "margin:-4px 0 0 20px;" %>
          </div>
        </div>
        <div class="row">
          <div class="span1">
            <%= f.submit "Create Record", class: "btn btn-medium btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </fullbody>
</div>
