<% provide(:title, 'Ward List') %>
<div class="row">
  <div class="offset1 span9">
	  <ul class="nav nav-tabs">
  	  <li class="active"><%= link_to "Ward List", ward_path %></li>
  	  <li><%= link_to "Investigators", investigators_path %></li>
      <li><%= link_to "Watch List", watch_path %></li>
      <li><%= link_to "Find Report", reports_path %></li>
  	  <li><%= link_to "Report Activity", newactivity_path %></li>
  	  <li><%= link_to "Archive", archive_path %></li>
	  </ul>
  </div>
</div>
<div class="container">
  <fullbody class="span11">
    <%= render 'families_list' %>
    <div class="span2">
      <%= link_to "Add Family", newfamily_path, class: "btn btn-medium btn-primary" %>
    </div>
    <% if current_user.admin? %>
      <div class="span2">
        <%= link_to "MLS Update", import_path, class: "btn btn-medium btn-success" %>
      </div>
    <% end %>
  </fullbody>
</div>