<% provide(:title, 'Ward List') %>
<%= render 'layouts/tabs' %>
<div class="container" style="margin-left:5px;">
  <div class="row">
    <fullbody class="span11" style="position:relative; z-index:2; min-height:480px;">
      <!-- show the list of families -->
      <%= render 'families_list' %>
      <div class="span1">
        <%= link_to "<i class='icon-white icon-plus'></i>".html_safe, new_family_path, class: "btn btn-medium btn-primary" %>
      </div>
      <div class="span1">
        <% if current_user.admin? %>
          <%= link_to "<i class='icon-white icon-refresh'></i>".html_safe, import_path, class: "btn btn-medium btn-success" %>
        <% else %>
          &nbsp
        <% end %>
      </div>
      <!-- show pagination -->
      <div class="span8 pull-right" style="text-align:right;">
        <%= will_paginate @families, :inner_window => 2, :outer_window => 1, style: "margin: 0 15px 0 0;" %>
      </div>
    </fullbody>
    <!-- show the alphabetical list to quickly find families -->
    <%= render 'layouts/alphabetically' %>
  </div>
</div>