<% provide(:title, 'Watch List') %>
<div class="row">
  <div class="offset1 span9">
    <ul class="nav nav-tabs">
      <li><%= link_to "Ward List", wardlist_path %></li>
      <li><%= link_to "Investigators", investigators_path %></li>
      <li class="active"><%= link_to "Watch List", watch_path %></li>
      <li><%= link_to "Find Report", reports_path %></li>
      <li><%= link_to "Report Activity", newactivity_path %></li>
      <li><%= link_to "Archive", archive_path %></li>
    </ul>
  </div>
</div>
<div class="container">
  <fullbody class="span11">
    <%= render 'families_list' %>
    <div class="span1">
      <%= collection_select(nil, :family_id, @unwatched_families, :id, :name, {:prompt => "Add"}, 
                            {:onchange => "redirect_to_watch(this.value)", :class => "btn btn-small btn-secondary"}) %>
    </div>
    <%= javascript_tag do %>
      function redirect_to_watch(familyId){
        window.location = "<%= watch_path %>?add_family=" + familyId;
      } 
    <% end %>
    <div class="span1">
      <%= collection_select(nil, :family_id, @families, :id, :name, {:prompt => "Drop"}, 
                            {:onchange => "redirect_to_unwatch(this.value)", :class => "btn btn-small btn-secondary"}) %>
    </div>
    <%= javascript_tag do %>
      function redirect_to_unwatch(familyId){
        window.location = "<%= watch_path %>?remove_family=" + familyId;
      } 
    <% end %>
    <div class="span8 pull-right">
      <%= will_paginate @families, :inner_window => 2, :outer_window => 1, style: "margin: 0 0 0 0;" %>
    </div>
  </fullbody>
</div>