<% provide(:title, 'Watch List') %>
<%= render 'layouts/tabs' %>
<div class="container" style="margin-left:5px;">
  <div class="row">
    <fullbody class="span11" style="position:relative; z-index:2; min-height:480px;">
      <!-- list families -->
      <%= render 'families_list' %>
      <!-- prepare a button with all unwatched families -->
      <div class="span1">
        <%= collection_select(nil, :family_id, @unwatched_families, :id, :decrypted_name, {:prompt => "Add"}, {:onchange => "redirect_to_watch(this.value)", :class => "btn btn-small btn-secondary", :style => "width:70px;"}) %>
      </div>
      <%= javascript_tag do %>
        function redirect_to_watch(familyId){
          window.location = "<%= watch_path %>?add_family=" + familyId;
        } 
      <% end %>
      <!-- prepare a button with all watched families -->
      <div class="span1">
        <%= collection_select(nil, :family_id, @watched_families, :id, :decrypted_name, {:prompt => "Drop"}, {:onchange => "redirect_to_unwatch(this.value)", :class => "btn btn-small btn-secondary", :style => "width:70px;"}) %>
      </div>
      <%= javascript_tag do %>
        function redirect_to_unwatch(familyId){
          window.location = "<%= watch_path %>?remove_family=" + familyId;
        } 
      <% end %>
      <!-- show pagination -->
      <div class="span8 pull-right" style="text-align:right;">
        <%= will_paginate @families, :inner_window => 2, :outer_window => 1, style: "margin: 0 15px 0 0;" %>
      </div>
    </fullbody>
    <%= render 'layouts/alphabetically' %>
  </div>
</div>