<% provide(:title, 'Watch List') %>
<%= render 'layouts/tabs' %>
<div class="container">
  <fullbody class="span11" style="height:480px;">
    <%= render 'families_list' %>
    <div class="span1">
      <%= collection_select(nil, :family_id, @unwatched_families, :id, :decrypted_name, {:prompt => "Add"}, 
                            {:onchange => "redirect_to_watch(this.value)", :class => "btn btn-small btn-secondary", :style => "width:70px;"}) %>
    </div>
    <%= javascript_tag do %>
      function redirect_to_watch(familyId){
        window.location = "<%= watch_path %>?add_family=" + familyId;
      } 
    <% end %>
    <div class="span1">
      <%= collection_select(nil, :family_id, @families, :id, :decrypted_name, {:prompt => "Drop"}, 
                            {:onchange => "redirect_to_unwatch(this.value)", :class => "btn btn-small btn-secondary", :style => "width:70px;"}) %>
    </div>
    <%= javascript_tag do %>
      function redirect_to_unwatch(familyId){
        window.location = "<%= watch_path %>?remove_family=" + familyId;
      } 
    <% end %>
    <div class="span8 pull-right" style="text-align:right;">
      <%= will_paginate @families, :inner_window => 2, :outer_window => 1, style: "margin: 0 15px 0 0;" %>
    </div>
  </fullbody>
</div>