<li>
  <div class="span3">
  	<h5><%= link_to user.name, edit_user_path(user) %></h5>
    <% if !user.ward_id.nil? && Ward.where(:id => user.ward_id).present? && current_ward.nil? %>
      <h6 style="font-weight:normal;"><%= Ward.find(user.ward_id).name %></h6>
    <% end %>
  </div>
  <% if current_user.master? && current_ward.nil? && !current_user?(user) %>
    <div class="span3">
      <h5><%= mail_to user.email, user.email %>
    </div>
    <div class ="span2">
      <% if current_user.master? %>
        <% if user.master? %>
          <%= link_to "Revoke Master", user_path(user, "user[master]" => false), :method => :put, :class => "btn btn-small btn-warning",
                      confirm: "Are you sure you want to revoke this user's master access?", "data-confirm-fade" => true, 
                      "data-confirm-title" => "Revoke #{user.name}'s Master Access", "data-confirm-proceed" => "Revoke", 
                      "data-confirm-proceed-class" => "btn-warning" %> 
        <% else %>
          <%= link_to "Make Master", user_path(user, "user[master]" => true), :method => :put, :class => "btn btn-small btn-warning",
                      confirm: "Are you sure you want to grant master access to this user?", "data-confirm-fade" => true, 
                      "data-confirm-title" => "Grant #{user.name} Master Access", "data-confirm-proceed" => "Proceed", 
                      "data-confirm-proceed-class" => "btn-warning" %>
        <% end %>
      <% else %>
        &nbsp
      <% end %>
    </div>
    <div class="offset1 span1">
      <%= link_to "Delete", user, method: :delete, class: "btn btn-small btn-danger", 
                  confirm: "You should only delete users that were created in error. It is recommended that you deactivate any users who have created reports in the past. Are you sure you want to permanently delete this user?", "data-confirm-fade" => true, 
                  "data-confirm-title" => "Delete #{user.name}", "data-confirm-proceed" => "Delete", "data-confirm-proceed-class" => "btn-danger" %>
    </div>
  <% elsif current_user.admin? && !current_user?(user) %>
    <div class="span1">
      <% if !user.ward_id.nil? %>
        <% if user.ward_confirmed %>
          <%= form_for(user) do |f| %>
            <%= f.hidden_field :ward_confirmed, :value => false %>
            <%= f.hidden_field :ward_id, :value => nil %>
            <%= f.hidden_field :admin, :value => false %>
            <%= f.submit "Remove", class: "btn btn-small btn-warning", confirm: "If you remove this user they cannot view your ward area book. Are you sure you want to remove this user?", "data-confirm-fade" => true, "data-confirm-title" => "Remove #{user.name}", "data-confirm-proceed" => "Remove", "data-confirm-proceed-class" => "btn-warning" %>
          <% end %>
        <% else %>
      	 <%= link_to "Accept", user_path(user, "user[ward_confirmed]" => true), :method => :put, :class => "btn btn-small btn-primary", 
                     confirm: "Accepting a user allows them to view and edit your ward area book. Are you sure you want to accept this user?", "data-confirm-fade" => true, "data-confirm-title" => "Accept #{user.name}", "data-confirm-proceed" => "Accept" %>
        <% end %>
      <% end %>
    </div>
    <div class="span1">
      <% if user.ward_confirmed %>
        &nbsp
      <% else %>
        <%= link_to "Deny", user_path(user, "user[ward_id]" => nil), :method => :put, :class => "btn btn-small btn-warning", 
                     confirm: "You should deny any user that should not have access to your ward area book. Are you sure you want to deny this user?", "data-confirm-fade" => true, "data-confirm-title" => "Deny #{user.name}", "data-confirm-proceed" => "Deny" %>
      <% end %>
    </div>
    <div class="span2">
      <% if !user.ward_id.nil? %>
        <% if user.admin? %>
    	   <%= link_to "Revoke Admin", user_path(user, "user[admin]" => false), :method => :put, :class => "btn btn-small btn-warning",
                     confirm: "Are you sure you want to revoke this user's administrative rights?", "data-confirm-fade" => true, 
                      "data-confirm-title" => "Revoke #{user.name}'s Admin Rights", "data-confirm-proceed" => "Revoke", "data-confirm-proceed-class" => "btn-warning" %> 
        <% else %>
          <%= link_to "Make Admin", user_path(user, "user[admin]" => true), :method => :put, :class => "btn btn-small btn-warning",
                      confirm: "Are you sure you want to make this user an administrator?", "data-confirm-fade" => true, 
                      "data-confirm-title" => "Make #{user.name} an Admin", "data-confirm-proceed" => "Proceed", "data-confirm-proceed-class" => "btn-warning" %>
        <% end %>
      <% end %>
    </div>
    <div class ="span2">
      <% if current_user.master? %>
        <% if user.master? %>
          <%= link_to "Revoke Master", user_path(user, "user[master]" => false), :method => :put, :class => "btn btn-small btn-warning",
                      confirm: "Are you sure you want to revoke this user's master access?", "data-confirm-fade" => true, 
                      "data-confirm-title" => "Revoke #{user.name}'s Master Access", "data-confirm-proceed" => "Revoke", 
                      "data-confirm-proceed-class" => "btn-warning" %> 
        <% else %>
          <%= link_to "Make Master", user_path(user, "user[master]" => true), :method => :put, :class => "btn btn-small btn-warning",
                      confirm: "Are you sure you want to grant master access to this user?", "data-confirm-fade" => true, 
                      "data-confirm-title" => "Grant #{user.name} Master Access", "data-confirm-proceed" => "Proceed", 
                      "data-confirm-proceed-class" => "btn-warning" %>
        <% end %>
      <% else %>
        &nbsp
      <% end %>
    </div>
    <div class="span1">
      <%= link_to "Delete", user, method: :delete, class: "btn btn-small btn-danger", 
                  confirm: "You should only delete users that were created in error. It is recommended that you deactivate any users who have created reports in the past. Are you sure you want to permanently delete this user?", "data-confirm-fade" => true, 
                  "data-confirm-title" => "Delete #{user.name}", "data-confirm-proceed" => "Delete", "data-confirm-proceed-class" => "btn-danger" %>
    </div>
  <% end %>
</li>