<% provide(:title, 'Create Account') %>
<div class="row">
  <h7>&nbsp</h7>
</div>
<div class="container">
  <fullbody class="span11 fivethirtyhigh">
    <h1 style="margin:80px 10px 40px 10px;">Create Your Account</h1>
    <center>
      <h4>Confirm the information below and select a password for your account.</h4>
      <h4 style="margin-bottom:40px;">You can change this information after you have created your account.</h4>
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.label :name, @username %>
        <%= f.label :email, @email %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :email %>
        <%= f.password_field :password, :placeholder => "Password (min 6 characters)" %><p>
        <%= f.password_field :password_confirmation, :placeholder => "Confirm password" %><p>
        <%= f.submit "Create account", class: "btn btn-medium btn-primary" %>
      <% end %>
    </center>
  </fullbody>
</div>