<% provide(:title, 'All users') %>
<ul class="nav nav-tabs">
  <li><%= link_to "Ward List", ward_path %></li>
  <li><%= link_to "Investigators", investigators_path %></li>
  <li><%= link_to "Watch List", watch_path %></li>
  <li><%= link_to "Find Report", reports_path %></li>
  <li><%= link_to "Create Report", newactivity_path %></li>
  <li><%= link_to "Archive", archive_path %></li>
</ul>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>