<% provide(:title, 'New User') %>
<div class="container" style="margin-top:20px;">
  <fullbody class="span11" style="min-height:520px;">
    <div class="offset3 span5">
      <center><h3 style='margin:70px 0 20px 0;'>Register New Account</h3></center>
      <!-- set up a form for the new user -->
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.label :name %>
        <%= f.text_field :name, :class => "span5" %>
        <%= f.label :email %>
        <%= f.text_field :email, :class => "span5", :style => 'margin-bottom:30px;' %>
        <%= f.password_field :password, :placeholder => 'Password (min 6 characters)', :class => "span3" %>
        <%= f.password_field :password_confirmation, :placeholder => 'Confirm password', :class => "span3", :style => "margin-bottom:30px;" %><p>
        <%= f.submit "Create account", class: "btn btn-medium btn-primary" %><p>
      <% end %>
      <h2>&nbsp</h2>
      <h4>&nbsp</h4>
    </div>
  </fullbody>
</div>