<li>
  <!-- get the first administrator from the ward so we can display their contact info -->
  <% admin = User.where(:ward_id => ward.id).where(:admin => true).first %>
  <!-- a master user is viewing a list of all wards, display each ward's info -->
  <% if current_user.master? && request.fullpath.include?("/wards") %>
    <div class="span3"><%= ward.name %></div>
    <div class="span1"><%= ward.unit %></div>
    <!-- if there is an admin, then show their name and email address -->
    <div class="span2">
      <% if !admin.nil? %>
        <%= admin.name %>
      <% else %>
        &nbsp
      <% end %>
    </div>
    <div class ="span3">
      <% if !admin.nil? %>
        <%= mail_to admin.email, admin.email %>
      <% else %>
        &nbsp
      <% end %>
    </div>
    <!-- prepare a button to delete the ward -->
    <div class="span1">
      <%= link_to "Delete", ward, method: :delete, class: "btn btn-small btn-danger", confirm: "Are you sure you want to permanently delete this ward and all of its records?", "data-confirm-fade" => true, "data-confirm-title" => "Delete #{ward.name}", "data-confirm-proceed" => "Delete", "data-confirm-proceed-class" => "btn-danger" %>
    </div>
  <!-- a user is viewing a list of wards to request access, display each ward's info -->
  <% else %>
    <div class="span3"><%= ward.name %></div>
    <!-- if there is an admin, then show their name and email address -->
    <div class="span4">
      <% if !admin.nil? %>
        <%= admin.name %>
      <% else %>
        &nbsp
      <% end %>
    </div>
    <div class="span2">
      <% if !admin.nil? %>
        <%= link_to "Contact Admin", contact_admin_path("id" => ward.id), :class => "btn btn-small btn-primary" %>
      <% else %>
        &nbsp
      <% end %>
    </div>
    <!-- if the user already requested access to this ward, show 'pending', otherwise prepare a button to request access -->
    <div class="span1">
      <center>
        <% if current_user.ward_id == ward.id %>
          Pending
        <% else %>
          <%= link_to "<i class='icon-white icon-ok'></i>".html_safe, user_path(current_user, "user[ward_id]" => ward.id), :method => :put, :class => "btn btn-small btn-success", confirm: "Please wait for an administrator at this ward to accept your request. Feel free to contact the administrator or your ward clerk if you do not receive access in a timely manner. Request access to this area book?", "data-confirm-fade" => true, "data-confirm-title" => "Request Access to #{ward.name}", "data-confirm-proceed" => "Yes", "data-confirm-proceed-class" => "btn-success" %>
        <% end %>
      </center>
    </div>
  <% end %>
</li>