<% provide(:title, 'Church Leaders') %>
<div class="row">
  <h7>&nbsp</h7>
</div>
<div class="container">
  <fullbody class="span11 fivethirtyhigh">
    <h3>&nbsp</h3>
    <h1>Register Your Ward</h1>
    <center><h4>Ward leaders with MLS access (e.g. Bishopric or Ward Clerks) can set up a new area book.</h4></center>
    <div class="offset2 span7">
      <h4>Option 1:</h4>
      <h5 style="margin-bottom:15px;">Use your lds.org account to verify that you are a ward leader. We do not store these credentials.</h5>
    </div>
    <center>
      <%= form_tag confirm_ward_path do %>
        <%= text_field_tag :username, nil, :placeholder => "lds.org username" %><p>
        <%= password_field_tag :password, nil, :placeholder => "lds.org password" %><p>
        <%= submit_tag "Confirm", :class => "btn btn-medium btn-primary" %>
      <% end %>
    </center>
    <div class="offset2 span7">
      <h4>Option 2:</h4>
      <h5><%= mail_to "reynoso@ldsareabook.org", "Contact us" %> directly and request access to a new area book. We will contact you to confirm your leadership role and the unit you are authorized to represent.</h5>
    </div>
  </fullbody>
</div>