<% provide(:title, 'Add Ward') %>
<%= render 'layouts/tabs' %>
<div class="container">
  <fullbody class="span11">
    <div class="offset3 span5">
      <h1>&nbsp</h1>
      <center><h4>Create Ward</h4></center>
      <%= form_for(@ward) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= "Ward name (e.g. Newport Beach 2nd)" %>
        <%= f.text_field :name %>
        <%= "Unit number" %>
        <%= f.text_field :unit %>
        <%= f.submit "Create ward", class: "btn btn-medium btn-primary" %>
      <% end %>
      <h2>&nbsp</h2>
      <h4>&nbsp</h4>
    </div>
  </fullbody>
</div>