<% if @selected_family %>
  <tr>
    <td class="hundred">
      <% if activity.visit? %>
        <%= link_to "Yes", edit_activity_path(activity) %>
      <% else %>
        <%= link_to "No", edit_activity_path(activity) %>
      <% end %>
    </td>
    <td class="hundred"><%= activity.activity_date.strftime("%m/%d/%y") %></td>
    <td class="fivehundred"><%= activity.notes %></td>
    <td class="twofifty"><%= activity.reported_by %></td>
    <td class="twofifty"><%= User.find(activity.user_id).name %></td>
  </tr>
<% else %>
  <tr>  
    <td class="twofifty"><%= link_to Family.find(activity.family_id).name, edit_family_path(Family.find(activity.family_id)) %></td>  
    <td class="hundred">
      <% if activity.visit? %>
        Yes
      <% else %>
        No
      <% end %>
    </td>
    <td class="hundred"><%= activity.activity_date.strftime("%m/%d/%y") %></td>
    <td class="fivehundred"><%= activity.notes %></td>
    <td class="twofifty"><%= activity.reported_by %></td>
    <th class="twofifty"><%= User.find(activity.user_id).name %></td>
  </tr>  
<% end %>