<% if @selected_family %>
  <tr>
    <td class="hundred">
      <% if activity.visit? %>
        <% if @selected_family.archived? %>
          Yes
        <% else %>
          <%= link_to "Yes", edit_activity_path(activity) %>
        <% end %>
      <% else %>
        <% if @selected_family.archived? %>
          No
        <% else %>
          <%= link_to "No", edit_activity_path(activity) %>
        <% end %>
      <% end %>
    </td>
    <td class="hundred"><%= activity.activity_date.strftime("%m/%d/%y") %></td>
    <td class="fivehundred"><%= activity.notes %></td>
    <td class="twofifty"><%= activity.reported_by %></td>
    <td class="twofifty">
      <% if User.find(activity.user_id) %>
        <%= User.find(activity.user_id).name %>
      <% else %>
        User deleted
      <% end %>
    </td>
  </tr>
<% else %>
  <tr>  
    <td class="twofifty"><%= link_to ward_decryptor.decrypt_and_verify(Family.find(activity.family_id).name), edit_family_path(Family.find(activity.family_id)) %></td>  
    <td class="hundred">
      <% if activity.visit? %>
        <%= link_to "Yes", edit_activity_path(activity) %>
      <% else %>
        <%= link_to "No", edit_activity_path(activity) %>
      <% end %>
    </td>
    <td class="hundred"><%= activity.activity_date.strftime("%m/%d/%y") %></td>
    <td class="fivehundred"><%= activity.notes %></td>
    <td class="twofifty"><%= activity.reported_by %></td>
    <th class="twofifty">
      <% if User.find(activity.user_id) %>
        <%= User.find(activity.user_id).name %>
      <% else %>
        User deleted
      <% end %>
    </td>
  </tr>  
<% end %>