<!-- if there are no activites for display or a family has been selected -->
<% if !@activities || @selected_family %>
  <div class="row">
    <div class="span11" style="position:relative; overflow:hidden;" id="info_x">
      <table class="table table-condensed">
        <!-- set up the header for the family information -->
        <thead style="width:1100px;">  
          <tr>
            <th style="width:250px;">Family Name</th>  
            <th style="width:250px;">Family Contact Info</th>
            <th style="width:250px;">Family Address</th>
            <th style="width:250px;">Child Names</th>
            <th style="width:100px;">Member?</th>
          </tr>
        </thead>
        <!-- if a family was selected, show family information -->
        <tbody style="height:50px; width:1100px; position:relative; overflow:hidden;" id="info_y">
          <% if @selected_family %>
            <tr>
              <td style="width:250px;">
                <%= link_to @ward_decryptor.decrypt_and_verify(@selected_family.name), edit_family_path(@selected_family) %>
              </td>
              <td style="width:250px;">
                <% if !@selected_family.phone.nil? && @selected_family.phone != "" %>
                  <%= @ward_decryptor.decrypt_and_verify(@selected_family.phone) %>
                <% end %>
                <% if !@selected_family.email.nil? && @selected_family.email != "" %>
                  <br><%= @ward_decryptor.decrypt_and_verify(@selected_family.email) %>
                <% end %>
              </td>
              <td style="width:250px;">
                <% if !@selected_family.address.nil? && @selected_family.address != "" %>
                  <%= @ward_decryptor.decrypt_and_verify(@selected_family.address) %>
                <% end %>
              </td>
              <td style="width:250px;">
                <% if !@selected_family.children.nil? && @selected_family.children != "" %>
                  <%= @ward_decryptor.decrypt_and_verify(@selected_family.children) %>
                <% end %>
              </td>
              <td style="width:100px;">
                <% if @selected_family.investigator %>
                  False
                <% else %>
                  True
                <% end %>
              </td>
            </tr>          
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="span11" style="position:relative; overflow:hidden;" id="notes_x">
      <table class="table table-condensed">
        <!-- set up the header for the family notes -->
        <thead style="width:1100px;"><tr><th style="width:1100px;">Family Notes</th></tr></thead>
        <!-- display the family notes -->
        <tbody style="width:1100px; height:30px; position:relative; overflow:hidden;" id="notes_y">
          <% if @selected_family && !@selected_family.notes.nil? %>
            <td style="width:1100px;"><%= @selected_family.notes %></td>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="span11" style="position:relative; overflow:hidden;" id="history_x">
      <table class="table table-condensed table-hover">
        <!-- set up the header for the activity reports -->
        <thead style="width:1200px;">  
          <tr>  
            <th style="width:100px;">Visited?</th>
            <th style="width:100px;">Date</th>
            <th style="width:500px;">Notes</th>
            <th style="width:250px;">Reported By</th>
            <th style="width:250px;">Input By</th>
          </tr>  
        </thead>
        <!-- display any activities that have been selected -->
        <tbody style="width:1200px; height:221px; position:relative; overflow:hidden;" id="history_y">
          <% if @activities && @activities.count > 0 %> 
            <%= render @activities %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <!-- prepare the scrollbars for each section -->
  <script>
    $(document).ready(function() {
      $('#info_x').perfectScrollbar({wheelSpeed:30, wheelPropagation:true});
      $('#info_y').perfectScrollbar({wheelSpeed:30, wheelPropagation:true});
      $('#notes_x').perfectScrollbar({wheelSpeed:30, wheelPropagation:true});
      $('#notes_y').perfectScrollbar({wheelSpeed:30, wheelPropagation:true});
      $('#history_x').perfectScrollbar({wheelSpeed:30, wheelPropagation:true});
      $('#history_y').perfectScrollbar({wheelSpeed:30, wheelPropagation:true});
    });
  </script>
<!-- if there are activities but no family was selected -->
<% else %>
  <div class="row">
    <div class="span11" style="position:relative; overflow:hidden;" id="activities_x">
      <!-- determine the proper title for the report -->
      <center><h5>
        <% if @report_date %>
          <% if @report_date < 12.months.ago %>
            Annual Report
          <% elsif @report_date < 6.months.ago %>
            Semi-Annual Report
          <% elsif @report_date < 3.months.ago %>
            Quarterly Report
          <% elsif @report_date < 1.month.ago %>
            Monthly Report
          <% elsif @report_date < 1.week.ago %>
            Weekly Report
          <% end %>
        <% else %>
          All Activity
        <% end %>
      </h5></center>
      <table class="table table-condensed table-hover">
        <!-- set up the header for the activity reports -->
        <thead style="width:1450px;">  
          <tr>  
            <th style="width:250px;">Family Name</th>  
            <th style="width:100px;">Visited?</th>
            <th style="width:100px;">Date</th>
            <th style="width:500px;">Notes</th>
            <th style="width:250px;">Reported By</th>
            <th style="width:250px;">Input By</th>  
          </tr>  
        </thead>
        <!-- display any activities that have been selected -->
        <tbody style="width:1450px; height:357px; position:relative; overflow:hidden;" id="activities_y"> 
          <% if @activities && @activities.count > 0 %>
            <%= render @activities %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <script>
    $(document).ready(function() {
      $('#activities_x').perfectScrollbar({wheelSpeed:30, wheelPropagation:true});
      $('#activities_y').perfectScrollbar({wheelSpeed:30, wheelPropagation:true});
    });
  </script>
<% end %>