<% if !@activities || @selected_family %>
  <div class="row">
    <div class="span11" style="overflow: auto;">
      <table class="table table-condensed">
        <thead class="fourteenfifty">  
          <tr>
            <th class="twofifty">Family Name</th>  
            <th class="hundredfifty">Family Phone</th>  
            <th class="twofifty">Family Email</th>
            <th class="twofifty">Family Address</th>
            <th class="twofifty">Child Names</th>
            <th class="hundred">Member?</th>
          </tr>
        </thead>
        <tbody class="fiftyhigh fourteenfifty">
          <% if @selected_family %>
            <tr>
              <td class="twofifty"><%= link_to ward_decryptor.decrypt_and_verify(@selected_family.name), edit_family_path(@selected_family) %></td>
              <td class="hundredfifty">
                <% if !@selected_family.phone.nil? && @selected_family.phone != "" %>
                  <%= ward_decryptor.decrypt_and_verify(@selected_family.phone) %>
                <% end %>
              </td>
              <td class="twofifty">
                <% if !@selected_family.email.nil? && @selected_family.email != "" %>
                  <%= ward_decryptor.decrypt_and_verify(@selected_family.email) %>
                <% end %>
              </td>
              <td class="twofifty">
                <% if !@selected_family.address.nil? && @selected_family.address != "" %>
                  <%= ward_decryptor.decrypt_and_verify(@selected_family.address) %>
                <% end %>
              </td>
              <td class="twofifty">
                <% if !@selected_family.children.nil? && @selected_family.children != "" %>
                  <%= ward_decryptor.decrypt_and_verify(@selected_family.children) %>
                <% end %>
              </td>
              <td class="hundred">
                <% if @selected_family.investigator %>
                  False
                <% else %>
                  True
                <% end %>
              </td>
            </tr>          
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="span11" style="overflow: auto;">
      <table class="table table-condensed table-hover">
        <thead class="twelvehundred">  
          <tr>  
            <th class="hundred">Visited?</th>
            <th class="hundred">Date</th>
            <th class="fivehundred">Notes</th>
            <th class="twofifty">Reported By</th>
            <th class="twofifty">Input By</th>
          </tr>  
        </thead>
        <tbody class="twelvehundred threehundredhigh">
          <% if @activities && @activities.count > 0 %> 
            <%= render @activities %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="span11" style="overflow: auto;">
      <center><h5>
        <% if @report_date %>
          <% if @report_date < 12.months.ago %>
            Annual Report
          <% elsif @report_date < 6.months.ago %>
            Semi-Annual Report
          <% elsif @report_date < 3.months.ago %>
            Quarterly Report
          <% elsif @report_date < 1.month.ago %>
            Monthly Report
          <% elsif @report_date < 1.week.ago %>
            Weekly Report
          <% end %>
        <% else %>
          All Activity
        <% end %>
      </h5></center>
      <table class="table table-condensed table-hover">
        <thead class="fourteenfifty">  
          <tr>  
            <th class="twofifty">Family Name</th>  
            <th class="hundred">Visited?</th>
            <th class="hundred">Date</th>
            <th class="fivehundred">Notes</th>
            <th class="twofifty">Reported By</th>
            <th class="twofifty">Input By</th>  
          </tr>  
        </thead>
        <tbody class="fourteenfifty threeeightytwohigh"> 
          <% if @activities && @activities.count > 0 %>
            <%= render @activities %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>