<% provide(:title, 'Archive') %>
<div class="row">
  <div class="offset1 span9">
    <ul class="nav nav-tabs">
      <li><%= link_to "Ward List", ward_path %></li>
      <li><%= link_to "Investigators", investigators_path %></li>
      <li><%= link_to "Watch List", watch_path %></li>
      <li><%= link_to "Find Report", reports_path %></li>
      <li><%= link_to "Create Report", newactivity_path %></li>
      <li class="active"><%= link_to "Archive", archive_path %></li>
    </ul>
  </div>
</div>
<div class="container">
  <fullbody class="span11">
    <%= render 'report' %>
    <% if @families.count > 0 %>
      <div class="span2 dropdown">
        <h5>
          <a class="dropdown-toggle btn btn-medium btn-primary" data-toggle="dropdown" href="#">Lookup Family</a>
          <ul class="dropdown-menu bottom-up" role="menu" aria-labelledby="dropdownMenu">
            <% @families.each do |family| %>
              <li><%= link_to family.name, archive_path(:family_id => family.id) %></li>
            <% end %>
          </ul>
        </h5>
      </div>
    <% else %>
      <div class="span2">
        <h5><a class="btn btn-medium btn-primary" href="#">Lookup Family</a></h5>
      </div>
    <% end %>
    <% if @selected_family %>
      <div class="span2">
        <h5><%= link_to "Unarchive Family", archive_path(:unarchive_id => @selected_family.id), class: "btn btn-medium btn-warning" %></h5>
      </div>
    <% end %>
  </fullbody>
</div>
