<% provide(:title, "Edit Activity") %> 
<%= render 'layouts/tabs' %>
<div class="container">
  <fullbody class="span11" style="min-height:480px;">
    <div class="offset3 span5">
      <center><h4>Edit Activity</h4></center>
      <!-- set up a form for the selected activity and prefill it with the activity's values -->
      <%= form_for(@activity) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.label :family_id, "Family contacted/visited" %>
        <!-- prepare a list of all families that have not been archived -->
        <%= f.collection_select(:family_id, @families, :id, :decrypted_name, {}, {:class => "btn btn-medium btn-secondary", :style => "width:370px; margin-bottom:15px;"}) %>
        <%= f.label :activity_date, "Date contacted/visited" %>
        <!-- prepare the datepicker -->
        <div class="row">
          <div class="span2 input-append date datepicker" data-date="<%= @activity.activity_date.strftime('%m/%d/%y') %>">
            <%= f.text_field :activity_date, :value => @activity.activity_date.strftime('%m/%d/%y'), :readonly => true, :class => "span2" %>
            <span class="add-on"><i class="icon-th"></i></span>
          </div>
        </div>
        <%= f.label :reported_by, "Person(s) who contacted/visited the family above" %>
        <%= f.text_field :reported_by, :class => "span5" %>
        <%= f.label :notes, "Notes" %>
        <%= f.text_area :notes, :rows => "3", :placeholder => "max 250", :class => "span5" %>
        <div class="row" style="margin-bottom:20px;">
          <div class="span3">
            <%= f.label :visit, "Check box if someone actually visited and met with this family." %>
          </div>
          <div class="span1">
            <%= f.check_box :visit %>
          </div>
        </div>
        <div class="row">
          <div class="span2">
            <%= f.submit "Update Record", class: "btn btn-medium btn-primary" %>
          </div>
          <div class="offset1 span2">
            <%= link_to "Delete Activity", @activity, method: :delete, class: "btn btn-medium btn-danger pull-right", confirm: "Are you sure you want to permanently delete this activity record?", "data-confirm-fade" => true, "data-confirm-title" => "Delete Activity Record", "data-confirm-proceed" => "Delete", "data-confirm-proceed-class" => "btn-danger" %>
          </div>
        </div>
      <% end %>
    </div>    
  </fullbody>
</div>
<!-- use javascript to display the datepicker -->
<script type="text/javascript">
  $('.datepicker').datepicker({
    format: 'mm/dd/yy',
    autoclose: true
  });
</script>
