<% provide(:title, "Edit Activity") %> 
<ul class="nav nav-tabs">
  <li><%= link_to "Ward List", ward_path %></li>
  <li><%= link_to "Investigators", investigators_path %></li>
  <li><%= link_to "Watch List", watch_path %></li>
  <li><%= link_to "Find Report", reports_path %></li>
  <li><%= link_to "Create Report", newactivity_path %></li>
  <li><%= link_to "Archive", archive_path %></li>
</ul>
<h1>Update activity information</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@activity) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label :family_id, "Family contacted/visited" %>
      <%= f.collection_select(:family_id, Family.all, :id, :name) %>
      <%= f.label :activity_date, "Date contacted/visited" %>
      <%= f.date_select :activity_date %>
      <%= f.label :reported_by, "Person(s) who contacted/visited" %>
      <%= f.text_field :reported_by %>
      <%= f.label :notes, "Notes" %>
      <%= f.text_area :notes, :rows => "3", :placeholder => "max 250" %>
      <div class="row">
        <div class="span3">
          <%= f.label :visit, "Check if someone actually visited and met with this family." %>
        </div>
        <div class="span1">
          &nbsp&nbsp<%= f.check_box :visit %>
        </div>
      </div>
      <h4>&nbsp</h4>
      <div class="row">
        <div class="span2">
          <%= f.submit "Save changes", class: "btn btn-medium btn-primary" %>
        </div>
        <div class="offset2 span2">
          <%= link_to "Delete Activity", "#", class: "btn btn-medium btn-danger" %>
        </div>
      </div>
    <% end %>
  </div>
</div>