<% provide(:title, 'Find Report') %>
<div class="row">
  <div class="offset1 span9">
    <ul class="nav nav-tabs">
      <li><%= link_to "Ward List", wardlist_path %></li>
      <li><%= link_to "Investigators", investigators_path %></li>
      <li><%= link_to "Watch List", watch_path %></li>
      <li class="active"><%= link_to "Find Report", reports_path %></li>
      <li><%= link_to "Report Activity", newactivity_path %></li>
      <li><%= link_to "Archive", archive_path %></li>
    </ul>
  </div>
</div>
<div class="container">
  <fullbody class="span11"> 
    <%= render 'report' %>
    <div class="span2 dropdown">
      <a class="dropdown-toggle btn btn-medium btn-primary" data-toggle="dropdown" href="#">Find by date</a>
      <ul class="dropdown-menu bottom-up" role="menu" aria-labelledby="dropdownMenu">
        <li><%= link_to "In the last week", reports_path(:activity_date => 1.week.ago) %></li>
        <li><%= link_to "In the last month", reports_path(:activity_date => 1.month.ago) %></li>
        <li><%= link_to "In the last quarter", reports_path(:activity_date => 3.months.ago) %></li>
        <li><%= link_to "In the last six months", reports_path(:activity_date => 6.months.ago) %></li>
        <li><%= link_to "In the last year", reports_path(:activity_date => 12.months.ago) %></li>
      </ul>
      &nbsp&nbsp&nbsp&nbspor
    </div>
    <div class="span2">
      <%= collection_select(nil, :family_id, Family.where("archived = ?", false), :id, :name, {:prompt => "Select a family"}, 
                            {:onchange => "redirect_to_family(this.value)", :class => "btn btn-medium btn-secondary"}) %>
    </div>
    <%= javascript_tag do %>
      function redirect_to_family(familyId){
        window.location = "<%= reports_path %>?family_id=" + familyId;
      } 
    <% end %>
    <div class="span2">
      <%= link_to "Show All", reports_path, class: "btn btn-medium btn-secondary" %>
    </div>
    <div class="span2">
      Total Reports: <%= @activities.count %>
    </div>
    <div class="span2">
      Total Visits: <%= @visit_count %>
    </div>
  </fullbody>
</div>

