<% provide(:title, 'Find Report') %>
<%= render 'layouts/tabs' %>
<div class="container">
  <fullbody class="span11" style="height:480px;"> 
    <%= render 'report' %>
    <div class="span1 dropup">
      <a class="dropdown-toggle btn btn-small btn-primary" data-toggle="dropdown" href="#" style="padding-top:5px; width:35px; height:22px;">Date</a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
        <li><%= link_to "In the last week", reports_path(:activity_date => 1.week.ago) %></li>
        <li><%= link_to "In the last month", reports_path(:activity_date => 1.month.ago) %></li>
        <li><%= link_to "In the last quarter", reports_path(:activity_date => 3.months.ago) %></li>
        <li><%= link_to "In the last six months", reports_path(:activity_date => 6.months.ago) %></li>
        <li><%= link_to "In the last year", reports_path(:activity_date => 12.months.ago) %></li>
      </ul>
    </div>
    <div class="span1">
      <%= collection_select(nil, :family_id, @families, :id, :decrypted_name, {:prompt => "Family"}, 
                            {:onchange => "redirect_to_family(this.value)", :class => "btn btn-small btn-secondary", :style => "width:70px;"}) %>
    </div>
    <%= javascript_tag do %>
      function redirect_to_family(familyId){
        window.location = "<%= reports_path %>?family_id=" + familyId;
      } 
    <% end %>
    <div class="span8 pull-right" style="text-align:right;">
      <%= will_paginate @activities, :inner_window => 2, :outer_window => 1, style: "margin: 0 15px 0 0;" %>
    </div>
  </fullbody>
</div>

