<% provide(:title, 'Find Report') %>
<div class="row">
  <div class="offset1 span9">
    <ul class="nav nav-tabs">
      <li><%= link_to "Ward List", ward_path %></li>
      <li><%= link_to "Investigators", investigators_path %></li>
      <li><%= link_to "Watch List", watch_path %></li>
      <li class="active"><%= link_to "Find Report", reports_path %></li>
      <li><%= link_to "Create Report", newactivity_path %></li>
      <li><%= link_to "Archive", archive_path %></li>
    </ul>
  </div>
</div>
<div class="container">
  <fullbody class="span11"> 
    <%= render 'report' %>
    <h5>
      <div class="span2 dropdown">
        <a class="dropdown-toggle btn btn-medium btn-primary" data-toggle="dropdown" href="#">Find by date</a>
        <ul class="dropdown-menu bottom-up" role="menu" aria-labelledby="dropdownMenu">
          <li><%= link_to "In the last week", reports_path(:activity_date => 1.week.ago) %></li>
          <li><%= link_to "In the last month", reports_path(:activity_date => 1.month.ago) %></li>
          <li><%= link_to "In the last quarter", reports_path(:activity_date => 3.months.ago) %></li>
          <li><%= link_to "In the last six months", reports_path(:activity_date => 6.months.ago) %></li>
          <li><%= link_to "In the last year", reports_path(:activity_date => 12.months.ago) %></li>
        </ul>
      </div>
    </h5>
    <h5>
      <div class="span2 dropdown">
        <a class="dropdown-toggle btn btn-medium btn-primary" data-toggle="dropdown" href="#">Find by family</a>
        <ul class="dropdown-menu bottom-up" role="menu" aria-labelledby="dropdownMenu">
          <% Family.where("archived = ?", false).each do |family| %>
            <li><%= link_to family.name, reports_path(:family_id => family.id) %></li>
          <% end %>
        </ul>
      </div>
    </h5>
    <h5>
      <div class="span2">
        <%= link_to "Show All", reports_path, class: "btn btn-medium btn-secondary" %>
      </div>
    </h5>
    <div class="span2">
      <h5>Total Reports: <%= @activities.count %></h5>
    </div>
    <div class="span2">
      <h5>Total Visits: <%= @visit_count %></h5>
    </div>
  </fullbody>
</div>

