<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <% if current_ward.nil? %>
        <%= link_to "LDS Area Book", root_path, id: "logo" %>
      <% else %>
        <%= link_to "#{current_ward.name} Ward", root_path, id: "logo" %>
      <% end %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", "#" %></li>
          <% if signed_in? %>
            <% if current_user.admin? %>
              <% if current_ward %>
                <% unconfirmed_count = current_ward.users.where(:ward_confirmed => false).count %>
                <% if unconfirmed_count > 0 %>
                  <li><%= link_to "Users (#{unconfirmed_count})", users_path, :style => "color:red !important;" %></li>
                <% else %>
                  <li><%= link_to "Users", users_path %></li>
                <% end %>
              <% else %>
                <li><%= link_to "Users", users_path %></li>
              <% end %>
            <% end %>
            <% if current_user.master? %>
              <li><%= link_to "Wards", wards_path %></li>
            <% end %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Account Settings", edit_user_path(current_user) %></li>
                <% if current_user.admin && current_ward %>
                  <li><%= link_to "Ward Settings", edit_ward_path(current_ward) %></li>
                <% end %>
                <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>